<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Blog-App</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/home']"> Home</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/allevents']"> All Articles</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/admindashboard']">
        Blog Statistics</a
      >
    </li>

    <li class="nav-item"></li>
  </ul>
</nav>
